@font-face {
    font-family:'BADABOOM';
    src: url('../static/BADABB__.TTF');
}
*{margin: 0;padding: 0;font-family: 'BADABOOM';}

.h1{font-size: 3em; text-align: center;font-family: 'BADABOOM';}
body {background-color: #428396;}


.table th {font-size: 2em;}
.table td {font-size: 1.5em;}
.h2-hero {margin-left: 15%;font-size: 1.5em;}
h3 {margin-left: 15%;font-size: 2em;font-family: 'BADABOOM';}
.figth {margin-bottom: 1.5%;}

/*Nav Bar and index style*/
.logo{margin-left: 35%;margin-top: 10%;}
.nav-local {background-color: #1CA1C9;justify-content: center;}
.nav-link{color: black;font-size: 2em;}

.select_hero{margin-left: 15%;}
.button-chose-character{font-size: 2em;margin-left: 45%;}




footer{ 
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 3vw;
    justify-content: center; 
}
footer p, .icon{font-size: 0.8vw; text-align: center;-webkit-text-stroke: black; }
footer .icon{color: white}